DeepKnee/
KneeLocalizer/
KneeProject/snapshots_knee_grading
KneeProject/snapshots_knee_grading_resnet
data/
.ipynb_checkpoints
test/
.DS_Store
*.txt
*.pth
*.lsf
*.sh
*.out
*.err
*.csv
*.pt
*.log
*.png
/KneeProject/KneeDetection/run*
*.pyc
*.npy
